/* 

---01 TYPOGRAPHY SYSTEM

- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    font-size: 62.5%;
}


body {
    font-family: 'Open Sans';
    font-size: 18px;
}


.hero_section {
    background-image: url(images/bg-hero-desktop.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--very-pale-cyan);
    padding: 60px;
    margin-bottom: 96px;
}

.logo {
    width: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: white;
    padding: 15px;
    width: 180px;
    border-radius: 40px;
    border: none;
    box-shadow: rgb(0 0 0 / 8%) 0px 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: all ease-in-out 1s; 
}

.btn:hover {
    color: var(--grayish-blue);
    cursor: pointer;
}


.main_container {
    display: flex;
    width: 100%;
    margin-top: 60px;
    align-items: center;
}

.main_text {
    width: 45%;
}

.main_text h1 {
    font-size: 40px;
    font-family: 'Poppins';
    color: var(--very-dark-cyan);
    width: 80%;
    margin-bottom: 40px;
}

.main_text p {
    width: 90%;
    font-size: 18px;
    color: var(--very-dark-cyan);
    font-weight: 400;
    margin-bottom: 35px;
}

.main_image {
    width: 55%;
}

.mockup_img {
    width: 100%;
}

.main_btn {
    background-color: var(--pink);
    padding: 18px;
    width: 280px;
    border: none;
    border-radius: 45px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: var(--very-pale-cyan);
    transition: all ease-in-out 1s;
}

.main_btn:hover {
    color: var(white);
    cursor: pointer;
    background-color: rgba(255, 82, 191, 0.5)
}


/* FEATURES SECTION ONE */

.section_features {
    padding: 96px 0;
    display: grid;
    gap: 48px;
    min-height: 100%;
}

.feature_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 32px 80px 64px;
    gap: 96px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.features_textbox {
    padding: 32px;
    display: grid;
    gap: 20px;
}

.feature_title {
    font-family: 'Poppins';
    color: var(--very-dark-cyan);
}

.feature_text {
    font-family: 'Open Sans';
    color: var(--grayish-blue);
}

.feature_img {
    width: 100%;
}


/* PRACTICE FOOTER */

footer {
    background-color: var(--very-dark-cyan);
    color: #fff;
    padding: 50px;
    font-size: 14px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contact {
    width: 25%;
    margin-right: 48px;
}

footer .contact p {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}

footer .contact p img {
    height: 14px;
    margin-right: 16px;
}

.right_footer_links {
    display: flex;
    width: 50%;
}

.links_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_links {
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
    width: 100%;
}

.footer_links .links {
    display: flex;
    flex-direction: column;
}

.footer_links a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
}

.copyright {
    right: 30px;
    font-size: 12px;
}



































/* FOOTER SECTION */

/* .footer_container {
    background-color: var(--very-dark-cyan);
    color: white;
    height: 600px;
    padding: 96px;
    position: absolute;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    
}

.footer_column {
    height: 200px;
    width: 33.33%;
    border: 1px solid;
    position: relative;
    
} */



/* .footer .footer_bottom {
    background-color: pink;
    color: white;
    height: 50px;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 64px;
    padding-bottom: 80px;
} */
